# Ignore Python virtual environment
venv/

# Ignore compiled C++ binaries
*.exe

# Ignore generated PDFs
*.pdf

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store
Thumbs.db
